---
import { FantartCarousel } from "./FanartCarousel";
---

<div
  class="text-center bg-center h-auto"
  style="background-image: url('assets/ruby_blur.jpg')"
>
  <h1 class="font-semibold pt-[45px] pb-4 text-4xl">Fanarts</h1>
  <div class="p-4">
    <FantartCarousel client:load />
  </div>
</div>


