<div
  class="text-center bg-center h-auto"
  style="background-image: url('assets/ruby_blur.jpg')"
>
  <h1 class="font-semibold pt-[45px] pb-4 text-4xl">Lore</h1>
  <div class="grid md:grid-cols-2 gap-4">
    <div class="md:col-span-2">
      <div class="mt-2">
        <div class=" p-6 m-4 border border-color_text rounded text-xl"
        style="background-image: url('assets/fondo-rojo-oscuro.jpg');"
        >
          <h2 class="font-semibold text-color_text_secund">
            ¿Quién es Ruby Runeheart?
          </h2>
          <p class="mt-2">
            Koa es una demonio proveniente del inframundo, la cual llegó al
            mundo humano por órdenes de su padre, el rey demonio, para que lo
            conquiste y pueda convertirse en su sucesora como reina del
            inframundo.
          </p>
          <p>
            Sin embargo, cuando Koa llegó a nuestro mundo, empezó a ganar
            interés por las cosas que éste tenía, como por ejemplo, desarrolló
            una gran pasión por los videojuegos, dulces, la música y demás cosas
            que este mundo humano le podía ofrecer y le parecían muy divertidas.
          </p>
          <p>
            Después de una charla con su padre el rey demonio, logró llegar a un
            acuerdo en el que Koa dominaría el mundo a su propia manera,
            convirtiéndose en una idol de internet, para así poder crear un gran
            culto que la ayude en su travesía por conquistar el mundo y expandir
            la palabra de su padre a través de internet.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
