<div class="p-8 mx-auto rounded-lg shadow-lg overflow-hidden text-2xl"
>
  <div class="text-center mt-8 text-4xl mb-[50px]">
    <h1 class="font-semibold">Perfil</h1>
  </div>

  <div class="text-center mt-4" >
    <div class="mb-8 border rounded border-color_text p-8"
    style="background-image: url('assets/fondo-rojo-oscuro.jpg');"
    >
      <div>
        <img
          src="assets/ruby_face.jpg"
          alt="Foto de perfil"
          class="rounded-full mx-auto m-6"
        />
        <h2 class="font-semibold text-4xl text-color_text_secund">
          Ruby Runeheart
        </h2>
      </div>

      <div>
        <p class="text-gray-600 mt-2">
          Ruby Runeheart es una Vtuber perteneciente a la generación "Eternals" de
          IdolES, su modelo representa a una elfa necromancer, aun que por la dificil
          situación economica, tambien se dedica a otras ocupaciones como payasita de fiesta, 
          maga y todo lo que haga falta.
        </p>
      </div>
    </div>

    <!-- <a href="#" class="block mt-4 font-semibold text-blue-600 hover:underline"
      >Obtener más información</a
    > -->

    <div class="grid md:grid-cols-2 gap-6">
      <!-- TABLA DE INFORMACION GENERAL -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Información General
        </p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <tbody>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Debut </th>
              <td class="px-6 py-4"> 03/05/2024 </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-bold"> Cumpleaños </th>
              <td class="px-6 py-4"> 28 de Octubre </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-bold"> Altura </th>
              <td class="px-6 py-4"> 1.35 (cm?) </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-bold"> Idiomas </th>
              <td class="px-6 py-4"> Español, Inges y Japones </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-bold"> Madre </th>
              <td class="px-6 py-4"> Tukiman02 </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-bold"> Padre </th>
              <td class="px-6 py-4"> MeiyuMeiyuyu </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-4 font-bold"> Ocupación </th>
              <td class="px-6 py-4"> Futura gobernadora del infierno </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE GUSTOS Y DISGUSTOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Gustos y Disgustos
        </p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
              <th scope="col" class="px-6 py-3"> Gustos </th>
              <th scope="col" class="px-6 py-3"> Disgustos </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Cultura Otaku
              </th>
              <td class="px-6 py-4"> Oppais Grandes </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Café
              </th>
              <td class="px-6 py-4"> El Sol </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Terror
              </th>
              <td class="px-6 py-4"> Bromas Sucias </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE ANIME Y VIDEOJUEGOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Anime y Videosjuegos Favoritos
        </p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
              <th scope="col" class="px-6 py-3"> Animes </th>
              <th scope="col" class="px-6 py-3"> Videojuegos </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                FMA: Brotherhood
              </th>
              <td class="px-6 py-4"> Cyberpunk 2077 </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Chuunibyou
              </th>
              <td class="px-6 py-4"> Horror Games </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Black Bullet
              </th>
              <td class="px-6 py-4"> Fighting Games </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Angel Beats
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE MUSICA FAVORITA -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">Música Favorita</p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Gakkou Gurashi
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Anime Songs
              </th>
            </tr>
            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Rock/Metal
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE MANGAS FAVORITOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Mangas Favoritos
        </p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Gakkou Gurashi
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Franken Frank
              </th>
            </tr>

            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                JoJo no Kimyou na bouken
              </th>
            </tr>

            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Oshi No Ko
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
