<div class="p-8 mx-auto rounded-lg shadow-lg overflow-hidden text-2xl"
>
  <div class="text-center mt-8 text-4xl mb-[50px]">
    <h1 class="font-semibold">Perfil</h1>
  </div>

  <div class="text-center mt-4" >
    <div class="mb-8 border rounded border-color_text p-8"
    style="background-image: url('assets/fondo-rojo-oscuro.jpg');"
    >
      <div>
        <img
          src="assets/ruby_face.jpg"
          alt="Foto de perfil"
          class="rounded-full mx-auto m-6"
        />
        <h2 class="font-semibold text-4xl text-color_text_secund">
          Ruby Runeheart
        </h2>
      </div>

      <div>
        <p class="text-gray-600 mt-2">
          Ruby Runeheart es una Vtuber perteneciente a la generación "Eternals" de
          IdolES, su modelo representa a una elfa necromancer, aun que por la dificil
          situación economica, tambien se dedica a otras ocupaciones como payasita de fiesta, 
          maga y todo lo que haga falta.
          Le gusta espiar a sus fans con su Necronomicón (Cecilio).
        </p>
      </div>
    </div>

    <!-- <a href="#" class="block mt-4 font-semibold text-blue-600 hover:underline"
      >Obtener más información</a
    > -->

    <div class="grid md:grid-cols-2 gap-6">
      <!-- TABLA DE INFORMACION GENERAL -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Información General
        </p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <tbody>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Debut </th>
              <td class="px-6 py-4"> 03/05/2024 </td>
            </tr>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Oshi Mark </th>
              <td class="px-6 py-4"> ❤️‍🔥🐗 </td>
            </tr>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Nombre de fandom </th>
              <td class="px-6 py-4"> Tonkatsus (Robertos) </td>
            </tr>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Especie </th>
              <td class="px-6 py-4"> Elfa </td>
            </tr>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Edad </th>
              <td class="px-6 py-4"> 3??? </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-bold"> Cumpleaños </th>
              <td class="px-6 py-4"> 28 de Octubre </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-bold"> Altura </th>
              <td class="px-6 py-4"> 144 cm </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-bold"> Idiomas </th>
              <td class="px-6 py-4"> Español, Inges y Japones </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-4 font-bold"> Ocupación </th>
              <td class="px-6 py-4"> Necromancer </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE HASHTAGS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          # HASHTAGS
        </p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <tbody>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Live </th>
              <td class="px-6 py-4"> #RUBYTIME </td>
            </tr>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Arte </th>
              <td class="px-6 py-4"> #RUBYLLUST </td>
            </tr>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Memes </th>
              <td class="px-6 py-4"> #MEMERUBY </td>
            </tr>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> +18 </th>
              <td class="px-6 py-4"> #RUBYABAI </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE ENTRADA Y SALIDA -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Entrada y despedida
        </p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <tbody>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Entrada(Ruby) </th>
              <td class="px-6 py-4"> Konruby </td>
            </tr>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Entrada(Chat) </th>
              <td class="px-6 py-4"> Konruby </td>
            </tr>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Despedida(Ruby) </th>
              <td class="px-6 py-4"> Poka Poka... </td>
            </tr>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-bold"> Despedida(Chat) </th>
              <td class="px-6 py-4"> Feliz Buffet </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE GUSTOS Y DISGUSTOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Gustos y Disgustos
        </p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
              <th scope="col" class="px-6 py-3"> Gustos </th>
              <th scope="col" class="px-6 py-3"> Disgustos </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Palomitas con y jalapeños 
              </th>
              <td class="px-6 py-4"> Sword Art Online (SAO) </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Camote
              </th>
              <td class="px-6 py-4"> Juan el Caballo 🐎 </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Cocinar
              </th>
              <td class="px-6 py-4"> Las Alturas </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Horror y Paranormal
              </th>
              <td class="px-6 py-4"> Marvel Despues de End Game </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Documentales de Historia
              </th>
              <td class="px-6 py-4"> Matematicas </td>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Idols
              </th>
              <td class="px-6 py-4"> Geografia </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Quemar Cosas
              </th>
              <td class="px-6 py-4"> BLeer Instrucciones </td>
            </tr>
          </tbody>
        </table>
      </div>

       <!-- TABLA DE ANIME FAVORITA -->
       <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">Animes</p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Neon Genesis Evanelion
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Naruto
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Shmang King
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                One Piece
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Gurren Lagan
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Shmang King
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Darker Than Black
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Gundam: The 08th MS Team
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Rurouni Kenshin
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Yamishibai
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Madoka Magica
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Tokyo Revengers
              </th>
            </tr>
            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Oreimo
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE MANGAS FAVORITOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Mangas Favoritos
        </p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Berserk
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Oyasumi Punpun
              </th>
            </tr>

            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Tomie
              </th>
            </tr>

            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Battle Royale
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE Videojuegos FAVORITOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Videojuegos Favoritos
        </p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Silent Hill
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Nire Automata
              </th>
            </tr>

            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Metal Gear Solid
              </th>
            </tr>

            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Zelda
              </th>
            </tr>

            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Star Fox Adventure (Gamecube)
              </th>
            </tr>

            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                The Last Of Us
              </th>
            </tr>

            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Castlevania
              </th>
            </tr>

            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                God Of War
              </th>
            </tr>

            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Devil May Cry
              </th>
            </tr>

            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                FF Crisis Core
              </th>
            </tr>

            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Touhou
              </th>
            </tr>

            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Soul Calibur
              </th>
            </tr>

            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Sonic
              </th>
            </tr>

            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                GTA
              </th>
            </tr>

            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                League Of Legends
              </th>
            </tr>

          </tbody>
        </table>
      </div>

      <!-- TABLA DE MUSICA FAVORITA -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">Música Favorita</p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Dir En Grey
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                All Idols (AKB48/Morning/Musume/Bish/Keyakizaka46/Hololive)
              </th>
            </tr>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Linkin Park
              </th>
            </tr>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Slipknot
              </th>
            </tr>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Fall Out Boy
              </th>
            </tr>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Three Days Grace
              </th>
            </tr>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Green Day
              </th>
            </tr>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                System Of A Down
              </th>
            </tr>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Mago de Oz
              </th>
            </tr>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Korn
              </th>
            </tr>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Joan Sebastian
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE SERIES FAVORITOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Series Favoritos
        </p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Friends
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                breaking Bad
              </th>
            </tr>

            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Game Of Thrones (Antes De Temporada 6)
              </th>
            </tr>

            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Big Bang Theory
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Big Bang Theory
              </th>
            </tr>
            <tr class="bg-white border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Big Bang Theory
              </th>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
